@use './variables';

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
        'base': variables.$color-primary
    ),
    'success': (
        'base': #13ce66
    ),
    'warning': (
        'base': #ffba00
    ),
    'danger': (
        'base': #ff4949
    ),
    'info': (
        'base': #5d5d5d
    )
  ),
  $text-color: (
    'regular': #1f2d3d
  ),
  $border-color: (
    'light': #dfe4ed,
    'lighter': #e6ebf5
  ),
  $button: (
      'font-weight': 400
  ),
  $table: (
      'border': 1px solid #dfe6ec
  )
);

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
@use "element-plus/theme-chalk/src/index.scss" as *;
